
/* ====================================== */
/* Button Style                           */
/* ====================================== */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @media (min-width: $mq-bp) {
      padding: 10px 30px;
      & + & {
        margin-left: 10px;
      };
    };
    @include theme($button-cl) {
      @each $col, $color in $button-cl {
        &.#{$col}:hover {
          background-color: lighten($color, 15%);
        };
      };
    };
}